body {
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style-type: none;
	overflow: hidden;
	background-color: rgba(132, 222, 58, 0.7);	
	margin: 0;
	padding: 0;
}

li {
	float: left;
}

li a {
	display: block;
	text-decoration: none;
	padding: 14px 16px;
	text-align: center;
	color: white;

}

.moveRight {
	float: right;
}

li a:hover {
	background-color: coral;
	text-decoration: none;
	color: #000;
}

#header {
	background: url(images/1background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
}

#firstSectionImage {
	background-image: url(images/open.jpg);
	height: 400px;
}

.infoImage, .image1, .image2, .image3, .image4, .image5, .image6 {
	width: 100%;
	background-size: cover;
	background-position: center;
}

.image1 {
	background-image: url(images/galleryImage1.jpg);
	height: 300px;
}

.image2 {
	background-image: url(images/galleryImage2.jpg);
	height: 450px;
}

.image3 {
	background-image: url(images/galleryImage3.jpg);
	height: 200px;
}

.image4 {
	background-image: url(images/galleryImage4.jpg);
	height: 400px;
}

.image5 {
	background-image: url(images/galleryImage5.jpg);
	height: 250px;
}

.image6 {
	background-image: url(images/galleryImage6.jpg);
	height: 500px;
}

#firstSectionInfo, .servInfo {
	line-height: 1.8;
	text-align: justify;
}

hr {
	width: 250px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#services {
	background-color: #F6AD72;
}

#footer {
	background-color: #5A4F4D;
	text-align: center;
	color: antiquewhite;
	
}

#footer a {
	color: whitesmoke;
}
